.home {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  color: white;
}

.explore {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border: 2px solid;
  width: 22%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
